@using Blog.ViewModels
@model CommentViewModel


@{


        <div class="child-comment">
            <div class="profile-column">
                <i class="fas fa-user"></i>
                <div class="line">
                <!-- This is the line -->
                </div>
            </div>
            <div class="parent-comment-contents">

                <div class="user-info">
                    <p class="">@Model.Creator.UserName</p>
                    <p>&#8226;</p>
                    <p>@Model.Comment.Created</p>
                </div>
                <div>
                    <p id='slackbot-comment'>@Model.Comment.Message</p>
                </div>
                <div class="rounded-circle">
                    @if (Model.Creator.ProfilePicture != null)
                        {
                            <img id="profilePicture" src="data:image/*;base64,@(Convert.ToBase64String(Model.Creator.ProfilePicture))">
                        }
                        else
                        {
                            <img id="profilePicture"  src="~/Images/Avatars/Default.png">
                       }
                </div> 
            @{
                @foreach (var subcommentview in Model.SubComments)
                {
                    <partial name="_CommentView" model="subcommentview"/>
                }
            }
            </div>
        </div>

    
}
  <link rel="stylesheet" href="~/Blog.styles.css" asp-append-version="true" />