@using Blog.ViewModels
@model Blog.Models.Comment
<style>
    body{background: #eee}
    .date{font-size: 11px}
    .comment-text{font-size: 12px}
    .fs-12{font-size: 12px}
    .shadow-none{box-shadow: none}
    .name{color: #007bff}
    .cursor:hover{color: blue}
    .cursor{cursor: pointer}
    .textarea{resize: none}
    #width{ width: 744px;}
    .commentsize{width: 459px;}
</style>


<div class="commentsize">
     <form asp-action="Comment" asp-controller="Home" method="post">
        <input asp-for="ArticleId" type="hidden" value="@Model.ArticleId"/>
        <input asp-for="ParentId" type="hidden" value="@Model.ParentId"/>
    
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div>
            <input asp-for="Message" type="text" placeholder="Type a comment......." class="Createcomment" />
            <span asp-validation-for="Message" class="text-danger"></span>
        </div>
        <input type="submit" style="display:none"/>
    </form>
</div>
<section style="position: relative;right: 47px;top: -39px;">
              <div class="d-flex flex-start mb-4">
          <img class="rounded-circle shadow-1-strong me-3" src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp" alt="avatar" width="65" height="65">
          <div class="card w-100">
            <div class="card-body p-4">
              <div class="">
                <h5>Johny Cash</h5>
                <p class="small">3 hours ago</p>
                <p>
                  @Html.DisplayFor(model => model.Message)
                </p>

                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center">
                    <a href="#!" class="link-muted me-2"><i class="fas fa-thumbs-up me-1"></i>132</a>
                    <a href="#!" class="link-muted"><i class="fas fa-thumbs-down me-1"></i>15</a>
                  </div>
                  <a href="#!" class="link-muted"><i class="fas fa-reply me-1"></i> Reply</a>
                </div>
              </div>
            </div>
          </div>
        </div> 
</section>
 <script src="~/Article/js/comment.js"asp-append-version="true"></script>
<link rel="stylesheet" href="~/Article/css/comment.css"asp-append-version="true" />