
@model IEnumerable<String>
    <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-inner-pages">
    <div class="container d-flex align-items-center justify-content-between">
      
          <form id="Genre-form" asp-controller="Home" asp-action="Genre" method="post">
               <nav id="navbar" class="navbar">
               <ul>
                    @foreach (var genre in Model)
                        {
                                  
                            <input type="hidden" name="GenreName" value="@genre" />
                            <li><a class="nav-link scrollto " onclick="document.getElementById('Genre-form').submit();">@genre</a></li>
                     
               
                         }
                </ul>
                 </nav>
            </form>  
       
    </div>
  </header><!-- End Header -->
