
@model IEnumerable<String>
    <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-inner-pages">
    <div class="container d-flex align-items-center justify-content-between">
      
   <nav id="navbar" class="navbar">
               <ul>
                    @foreach (var genre in Model)
                        {
                            <form id="@genre-form" asp-controller="Home" asp-action="Genre" method="post">      
                            <input type="hidden" name="GenreName" value="@genre" />
                            <li><a class="nav-link scrollto " onclick="document.getElementById('@genre-form').submit();">@genre</a></li>
                     
               </form>
                         }
                </ul>
                 </nav> 
       
    </div>
  </header><!-- End Header -->
