
.comment-text {
    font-size: 12px
}
.shadow-none {
    box-shadow: none
}

.name {
    color: #007bff
}

.cursor:hover {
    color: blue
}

.cursor {
    cursor: pointer
}

.textarea {
    resize: none
}

#width {
    width: 744px;
}

.commentsize {
    width: 807px;
    border: 2px solid green;
    padding: 15px 10px;
    right: -11px;
    position: relative;
    background-color: #fff;
}
.Message input {
    height: 20px;
    width: 100%;
    border: 2px solid #aaa;
    background-color: transparent;
    margin-bottom: 10px;
    resize: none;
    outline: none;
}
input[type="submit"], button {
    padding: 10px 15px;
    border:none;
    outline:none;
    border-radius:5px;
    text-transform:uppercase;
    font-weight:bold;
    color:green;
}
input[type="submit"]{
    color:#fff;
    background-color:green;
}
button {
    color: #333;
    background-color:transparent;
}
